.summary {
  background-color: black;
}
h5 {
  color:blue;
  text-align: center;
}
.title {
  background-color: lightblue;
  color: red;
}
#jumbotron {
  background-color: lightblue;

}
#thumbnail {
  background-color: brown;
}
h3 {
  text-align: center;
  color:white;
}
#about-column {
  background-color:#5a5600;
  height: 250px;
  color: white;
}

#education-column {
  background-color:#5a5600;
  height: 250px;
  color: white;
}
#edu{
  color: white;
}
.thumbnail {
  background-color: lightblue
}
#title {
  background-color:#5a5600;
  height: 100px;
  color: white;
  text-align: center;
}
#skills-column {
  background-color:#5a5600;
  height: 250px;
  color: white;
}