.summary {
  background-color: black;
}
h5 {
  color:white;
  text-align: center;
}

#jumbotron {
  background-color: lightblue;

}
#thumbnail {
  background-color: brown;
}
h3 {
  text-align: center;
  color:white;
}
#about-column {
  height: 450px;
  color:white;
}


.thumbnail {
  background-color:#5a5600;
  color: white;
  /* padding-left: 10px; */
}
#title {
  background-color: #5a5600;
  height: 750px;
  color: white;
  text-align: center;
  background-image: url("../images/bg1.jpeg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
#skills-column {
  height: 450px;
  color:white;
}
#repositories {
  background-color:#5a5600;
  height: 500px;
  color: white;
}
#details {
  /* background-image: url("../images/details.jpg");  */
  /* height: 500px; */
  /* width: 500px; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;

}
#project1 {
  background-image: url("../images/Project_1..png"); 
  height: 480px;
  width: 930px;
  margin-top: 0.7%;
  background-repeat: no-repeat;
  background-size: cover;
}

#project2 {
  background-image: url("../images/Project_2.png"); 
  height: 480px;
  width: 930px;
  margin-top: 0.7%;
  background-repeat: no-repeat;
  background-size: cover;
}

#project3 {
  background-image: url("../images/Project_3.png"); 
  height: 480px;
  width: 930px;
  margin-top: 0.7%;
  background-repeat: no-repeat;
  background-size: cover;
}
#project4 {
  background-image: url("../images/Project_4.png"); 
  height: 480px;
  width: 915px;
  margin-top: 0.7%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -1.5%;
}
#project5 {
  background-image: url("../images/Project_5.png"); 
  height: 480px;
  width: 915px;
  margin-top: 0.7%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -1.5%;
}
#project6 {
  background-image: url("../images/Project_6.png"); 
  height: 480px;
  width: 915px;
  margin-top: 0.7%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -1.5%;
}
.project-description {
  text-align:center;
}


title.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  opacity: 0.1;
  z-index: 1;
}
#sam{
  font-size: 700%;
  color:white
  /* opacity:0.7; */
}

#third-row{
  background-repeat: no-repeat;
  background-size: cover;
  height:800px;
  background-attachment: fixed;
  background-image: url("../images/bg1.1.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#second-row{
  background-color: #5a5600;
  background-repeat: no-repeat;
  background-size: cover;
  height:800px;
  opacity:0.8;
  background-attachment: fixed;
    /* background-image: url("../images/bg5.jpeg");  */

}

#cont{
  /* background-image: url("../images/bg1.1.jpg");  */
  width: 1170px;
  height:100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:black;
  /* background-color: #5a5600; */

}